---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Prose from '@components/Prose.astro';
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@components/FormattedDate.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post, // Pass the post as props
    }));
}

// Ensure `post` is passed via props
const post = Astro.props;
const { Content } = await render(post);
const { title, author, pubDate, modDate, heroImage, description, tags } = post.data;
---

<Layout title={title}>
    <div class="flex flex-col w-dvw px-10 gap-5 grow">
        <h1>{title}</h1>

        <div class="grid grid-rows-2 justify-around">
            <div class="grow text-center">
                By: {author} on <FormattedDate date={pubDate} />
                {modDate && (
                <span class="text-gray-600"> 
                    ( Updated: <FormattedDate date={modDate} />)
                </span>
                )}
            </div>
            <div class="flex flex-row flex-wrap justify-center gap-2">
                {tags.map((t: String) => (
                <span class="bg-red-100 shadow-md">{t}</span>
                ))}
            </div>
        </div>

        <div class="flex p-10 justify-center">
            <Prose>
                <Content />
            </Prose>
        </div>

    </div>
</Layout>
