---
import Layout from '@layouts/Layout.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, author, pubDate, modDate, heroImage, description, tags } = Astro.props;
---

<Layout title="test">
    <h1>{title}</h1>
    <h2>By: {author} on {pubDate}{modDate && ( `(Updated: {modDate} + )` ) }</h2> 
    <h3>{tags.map(t => (<p>{t}, </p>))}</h3>
    <slot />
</Layout>
