---
import Layout from '@layouts/Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title="test">
    <h1>{frontmatter.title}</h1>
    <h2>By: {frontmatter.author} on {frontmatter.pubDate}{frontmatter.modDate && ( "(Updated: " + {frontmatter.modDate} + ")" )}</h2>
    <h3>{frontmatter.tags.map(t => (<p>{t}, </p>))}</h3>
    <slot />
</Layout>
